apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-service-config
  namespace: demo-micro
  labels:
    app: notification-service
    service: notification-service
data:
  AWS_ENDPOINT: 'http://localstack:4566'
  AWS_DEFAULT_REGION: 'ap-southeast-1'
  MONGODB_URI: 'mongodb://admin:root@notification-db:27017/'
  QUEUE_URL: 'http://localstack:4566/000000000000/notification-queue'
  EVENT_BUS_NAME: 'evbus'
  EVENT_BRIDGE_SOURCE: 'com.notification.service'
